[submodule "xmonad/.xmonad"]
	path = xmonad/.xmonad
	url = https://github.com/ThomasDuPlessis/.xmonad.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/ThomasDuPlessis/.emacs.d.git
